.my tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
    border: 1px solid black;
}

.my tbody tr:nth-child(even) {
    background-color: #F0F8FF;
    border: 1px solid black;
}
.my table {
    border-width: thin;
    border-spacing: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

.my tr {
    border: 1px solid black;
}